.nav-container {
    display: flex;
    height: 50px;
    align-items: center;
}

.nav-item {
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 30px;
    }
    .nav-item {
        font-size: 12px;
    }
}